<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="CV" />
    <meta name="author" content="Ashleigh Crosby" />

    <title>Ashleigh Crosby | CV</title>

    <link href="css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="css/main.css" rel="stylesheet"></link>
  </head>

  <body>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="home">
        <div id="social">
          <a class="glyph-link email" href="mailto:tcrosby@gmail.com" target="_blank"></a>
          <a class="glyph-link github" href="https://github.com/longsight" target="_blank"></a>
          <a class="glyph-link linkedin" href="https://uk.linkedin.com/in/ashleighcrosby" target="_blank"></a>
        </div>
        <h1 id="intro">Ashleigh Crosby</h1>
        <p class="print-links">
          https://misc.tcrosby.co.uk/cv/<br />
          tcrosby@gmail.com<br />
          +447950 825615<br />
        </p>
        <p class="lead">Hacker, runner, tinkerer, wonderer.</p>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="wants">
        <h1>What I'm looking for</h1>
        <ul>
          <li class="">
            <h3>{{ slug }}.</h3>
          </li>
        </ul>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="languages">
        <h1>What I've done</h1>
        <ul>
          {% for role in roles if role.title or version == "" %}
          <li class="history">
            &mdash; <strong>{{ role.employer }}</strong>
            <span class="dates" data-toggle="tooltip">{{ role.start_date }} &ndash; {{ role.end_date }}</span><br />
            {% if role.title %}<em>{{ role.title }}</em><br />{% endif %}
            {% if role.location %}<span>{{ role.location }}</span>{% endif %}
            <ul>
              {% for achievement in achievements if achievement.employer == role.employer %}
              <li skills="">{{ achievement.detail }}</li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="education">
        <h1>Education</h1>
          <ul>
            {% for edu in education %}
            <li class="history">
              &mdash; <strong>{{ edu.institution }}</strong>
              <span class="dates" data-toggle="tooltip">{{ edu.start_date }} &ndash; {{ edu.end_date }}</span><br />
              {% if edu.qualification %}<em>{{ edu.qualification }}</em><br />{% endif %}
              {% if edu.detail %}<span>{{ edu.detail }}</span>{% endif %}
            </li>
            {% endfor %}
          </ul>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="me">
        <h1>Me</h1>
        <p>I'm an avid problem-solver but also an explorer at heart. Though I'm probably never happier than when I'm completely lost and relying on my navigational senses, I love spacial data, mapping, and using it to my advantage to find new places to wander. I know the shortcuts, footpaths, woodlands, hidden meadows of my surrounding area, I've cycled all over the Peak District and Yorkshire Dales without any particular direction in mind, hiked up to Swiss glaciers, walked the length of the South Downs.</p>
        <p>When I'm not out on my bike or solving problems that I didn't know I had, I can be found listening to (and occasionally making) an eclectic range of music, watching films that make you scratch your head, sketching the world around me, playing obscure board games, and building my engagement in local activism.</p>
      </div>
    </div><!-- /.container -->

    <script>
    (function () {
      'use strict';

      if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
        var msViewportStyle = document.createElement('style')
        msViewportStyle.appendChild(
          document.createTextNode(
            '@-ms-viewport{width:auto!important}'
          )
        )
        document.querySelector('head').appendChild(msViewportStyle)
      }
      $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
      });
    })();
    </script>
  </body>
</html>
