<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="CV" />
    <meta name="author" content="Ashleigh Crosby" />

    <title>Ashleigh Crosby | CV</title>

    <link href="css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="css/main.css" rel="stylesheet"></link>
  </head>

  <body>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="home">
        <div id="social">
          <a class="glyph-link email" href="mailto:tcrosby@gmail.com" target="_blank"></a>
          <a class="glyph-link github" href="https://github.com/longsight" target="_blank"></a>
          <a class="glyph-link linkedin" href="https://uk.linkedin.com/in/ashleighcrosby" target="_blank"></a>
        </div>
        <h1 id="intro">Ashleigh Crosby</h1>
        <p class="print-links">
          https://misc.tcrosby.co.uk/cv/<br />
          tcrosby@gmail.com<br />
          +447950 825615<br />
        </p>
        <p class="lead">Hacker, runner, tinkerer, wonderer.</p>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="me">
        <p>I'm a problem-solver, an explorer, and a bit of an adventurer.</p>
        <p>I think about systems on the grand and micro scale, I'm extremely quick to pick up on messy concepts and see the patterns as they emerge, and I'm always learning new skills.</p>
        <p>I built a Wifi-enabled Ouija board as a prop for a horror LARP.</p>
        <p>I can build furniture, bathrooms, bikes, and PCBs.</p>
        <p>I repair my own clothes, which are frequently described as 'loud' and 'flamboyant as hell'.</p>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="wants">
        <h1>What I'm looking for</h1>
        <ul>
          <li class="">
            <h3>{{ slug }}.</h3>
          </li>
        </ul>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="languages">
        <h1>What I've done</h1>
        <ul>
          {% for role in roles if role.title or version == "" %}
          <li class="history">
            &mdash; <strong>{{ role.employer }}</strong>
            <span class="dates" data-toggle="tooltip">{{ role.start_date }} &ndash; {{ role.end_date }}</span><br />
            {% if role.title %}<em>{{ role.title }}</em><br />{% endif %}
            {% if role.location %}<span>{{ role.location }}</span>{% endif %}
            <ul>
              {% for achievement in achievements if achievement.employer == role.employer %}
              <li
                data-skills="{{ achievement.skills|map(attribute='name')|join(', ') }}"
                title="{% for skill in achievement.skills %}{{ skill.name }}: {{ skill.competency }}{% if skill != achievement.skills|last %}, {% endif %}{% endfor %}"
              >{{ achievement.detail }}</li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="education">
        <h1>What I've (officially) learned</h1>
          <ul>
            {% for edu in education %}
            <li class="history">
              &mdash; <strong>{{ edu.institution }}</strong>
              <span class="dates" data-toggle="tooltip">{{ edu.start_date }} &ndash; {{ edu.end_date }}</span><br />
              {% if edu.qualification %}<em>{{ edu.qualification }}</em><br />{% endif %}
              {% if edu.detail %}<span>{{ edu.detail }}</span>{% endif %}
            </li>
            {% endfor %}
          </ul>
      </div>
    </div><!-- /.container -->
  </body>
</html>
